<h2 class="title">
  我的博文类型
  <a href=<%= new_manage_article_type_path %> class="link">
    <i class="glyphicon glyphicon-plus"></i>
  </a>
</h2>
<span class="describe">在此可管理你的博文类型。</span>
<ul>
  <li>
    <a href=<%= admin_articles_path %> class="link">
      <i class="glyphicon glyphicon-th-large"></i>
      <span>所有类型</span>
    </a>
  </li>
</ul>