<div class="info">
  <div class="head-img">
    <%= image_tag @login_author.avatar_url("thumb") if @login_author.avatar %>
  </div>
  <div class="blog-info">
    <div class="author-name">
      <%= @admin_author.name %>
    </div>
    <div class="detail-info">
      <ul>
        <li>
          <%= link_to admin_articles_path do %>
            博文
            <%= @login_author.articles.count %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
