<span>
  &copy;<%= "#{Time.new.year-1}-#{Time.new.year} Lisiur's Blog" %><br>
  <a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备15011725号-1</a>
</span>
<div class="test sr-only">
  <%= @true_ip %><br>
  <%= @true_city %><br>
  <%= @true_weather %>
</div>
