// Place all the styles related to the admin::articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-form{
  float:left;
  width:70%;
  margin-right: 5%;
  textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 450px;
  }
}
.related-form{
  float: left;
  width:25%;
  .category{
    padding:5px 10px;
    max-height: 200px;
    overflow: auto;
    border: 1px solid #CCC;
    border-radius: 8px;
    background-color: white;
    input{
      margin-top: 8px;
    }
  }
  .tag{
    padding:5px 10px;
    max-height: 200px;
    overflow: auto;
    border: 1px solid #CCC;
    border-radius: 8px;
    background-color: white;
    ul{

      li{
        margin-top:2px;
      }
      input{
        border:none;
        background-color: white;

        &:focus{
          outline: none;
        }
      }
      li.inactive{
        background-color: #F3F3F0;
        input{
          padding-left: 2%;
          width:88%;
          background-color: #F3F3F0;
        }
        span{
          width:8%;
          &:hover{
            cursor: pointer;
          }
        }

      }
      li.current_input_tag{
        width:100%;
      }
    }
  }
  .type{
    select{
      width:100%;
      background-color: #4c4c4c;

    }
  }
}