// Place all the styles related to the admin::articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-form{
  position: relative;
  float:left;
  width:70%;
  margin-right: 5%;
  textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 450px;
    max-height: 450px;
  }
  .md-tools-bar{
    position: relative;
    height:38px;
    width:100%;
    .md-tools-group{
      margin-top: 5px;
      position: relative;
      width:auto;
      height:28px;
      span{
        display: inline-block;
        font-size: 20px;
        line-height: 25px;
      }
      .item{
        cursor: pointer;
      }
    }
    .right{
      float:right;
    }
    .left{
      float:left;
    }
  }
  #admin_article_title{
     font-size: 25px;
  }
  #preview_text{
     font-size: 20px;
     letter-spacing: 0.01em;
     word-spacing: 0.1em;
     line-height: 20px;
  }
  #side-preview{
    display: none;
    position: absolute;
    top:100px;
    left:0px;
    width:100%;
    height:450px;
    background-color: white;
    border: 2px solid #bdc3c7;
    border-radius:6px;
    padding: 5px;
    overflow: auto;
  }
}
.related-form{
  float: left;
  width:25%;
  .category{
    padding:5px 10px;
    max-height: 200px;
    overflow: auto;
    border: 2px solid #1abc9c;
    border-radius: 8px;
    background-color: white;
    input{
      margin-top: 8px;
    }
  }
  .tag{
    // padding:5px 10px;
    // max-height: 200px;
    // overflow: auto;
    // border: 1px solid #CCC;
    // border-radius: 8px;
    // background-color: white;
    // ul{

    //   li{
    //     margin-top:2px;
    //   }
    //   input{
    //     border:none;
    //     background-color: white;

    //     &:focus{
    //       outline: none;
    //     }
    //   }
    //   li.inactive{
    //     background-color: #F3F3F0;
    //     input{
    //       padding-left: 2%;
    //       width:88%;
    //       background-color: #F3F3F0;
    //     }
    //     span{
    //       width:8%;
    //       &:hover{
    //         cursor: pointer;
    //       }
    //     }

    //   }
    //   li.current_input_tag{
    //     width:100%;
    //   }
    // }
  }
  .type{
    .select{
      width:100% !important;
      // background-color: #4c4c4c;

    }
  }
}
//index
.article-index{
  // font-size: 14px;
  .article-title{
  }
}
