// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
$primary-color: #f7f6f2;
body{
  background-color: $primary-color;
  a{
    text-decoration:none;
    &:hover{
      text-decoration: none;
    }
  }
  h1{
    font-size: 30px;
  }
  ul{
    list-style:none;
    margin:0;
    padding:0;
  }
}
#header{
  nav#nav-top{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    height:60px;
    #logo{
      z-index: 1;
      cursor: pointer;
      left:2px;
      position: absolute;
      img{
        height:60px;
        width:80px;
      }
    }
    #search{
      z-index: 2;
      left:75px;
      position: absolute;
      width:auto;
      height:60px;
      //line-height: 60px;
      padding-top: 15px;
      padding-left: 10px;
      form{
        input{
          border: 1px solid #CCCCCC;
          border-radius: 5px;
          width:180px;
          height:30px;
          padding-left: 10px;
          transition:width 0.5s;
          -moz-transition:width 0.5s; /* Firefox 4 */
          -webkit-transition:width 0.5s; /* Safari and Chrome */
          -o-transition:width 0.5s; /* Opera */
          &:focus{
            width:300px;
          }
        }
      }
    }
    #admin{
      z-index: 0;
      position: relative;
      width:auto;
      height:60px;
      margin:auto;
      text-align: center;
      font-size: 23px;
      line-height: 60px;
      span{
        display: inline-block;
      }
    }

    #menu-add{
      z-index: 1;
      cursor: pointer;
      position: absolute;
      top:0px;
      width:80px;
      height:60px;
      right:166px;
      padding-top: 17px;
      i{
        text-align: center;
        font-size: 25px;
        display: block;
      }
      &:hover{
        background-color: #dddddd;
      }
    }
    #menu-message{
      z-index: 1;
      cursor: pointer;
      position: absolute;
      top:0px;
      width:80px;
      height:60px;
      right:86px;
      padding-top: 19px;
      i{
        text-align: center;
        font-size: 25px;
        display: block;
      }
      &:hover{
        background-color: #dddddd;
      }
    }

    #menu-login{
      z-index: 1;
      cursor: pointer;
      position: absolute;
      top:0;
      right:0px;
      img{
        height:60px;
        width:80px;
      }
      i{
        display: inline;
        font-size: 10px;
        margin-left: -10px;
      }
      &:hover{
        background-color: #dddddd;
      }
    }
  }
}
#side-nav{
  position: fixed;
  top:60px;
  bottom:0px;
  left:0px;
  width:80px;
  overflow:auto;
  background-color: #333333;
  nav#nav-side{
    ul{
      padding:0;
      list-style:none;
      li a{
        padding:6px 0;
        display: block;
        text-align: center;
        text-decoration:none;
        i {
          font-size: 20px;
          color: #ffffff;
          display: block;
        }
        span {
          display: block;
          padding-top: 5px;
          color: #ffffff;
        }
        &:hover{
          background-color: #4c4c4c;
        }
        &:active{
          background-color: #3c3c3c;
        }
      }
      li.active a {
        background-color: #5c5c5c;
        &:hover {
          background-color: #4c4c4c;
        }
      }
    }
  }
}
.related-nav{
  position: fixed;
  top:60px;
  bottom:0px;
  left:80px;
  width:200px;
  overflow:auto;
  background-color: $primary-color;
  border-right: 1px solid #CCC;
  .title{
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    i{
      display: inline-block;
      float:right;
      padding-right: 20px;
      font-size: 18px;
      color:gray;
    }
  }
  span.describe{
    font-size: 10px;
    color:#888888;

    padding-left: 20px;
  }
  ul{
    padding:0;
    margin-top: 25px;
    list-style:none;
    li a{
      margin-top: 5px;
      padding-left: 20px;
      display: block;
      width:199px;
      height:30px;
      background-color: #E4E3DF;
      text-align: left;
      text-decoration:none;
      color:gray;
      font-size: 15px;
      line-height:30px;
      i{
        font-size: 14px;
      }
    }
  }
}
#bodyer{
  padding-top: 85px;
  margin-left: 280px;

  #content{
    float:left;
    width:90%;
    margin-left: 5%;
    height:auto;
    form{
      select{
        min-width:200px;
        height:35px;
        background-color: white;
        border: 1px solid #D1D1D1;
        border-radius: 5px;
      }
      .submit{
        border:1px solid #333333;
        background-color: #333333;
      }
      .cancle{
        background-color: $primary-color;
      }
    }
  }
}
#footer{

}