<h2 class="title">
  我的归档
  <!--<a href=<%= new_admin_archive_path %> class="link">-->
    <!--<i class="glyphicon glyphicon-plus"></i>-->
  <!--</a>-->
</h2>
<span class="describe">在此可管理你的归档。</span>
<ul>
  <li>
    <a href=<%= admin_archives_path %> class="link">
      <i class="glyphicon glyphicon-th-large"></i>
      <span>所有归档</span>
    </a>
  </li>
</ul>