<h2 class="title">
  个人中心
  <a href="/" class="link">
    <i class="glyphicon glyphicon-plus"></i>
  </a>
</h2>
<span class="describe">在此可管理你的个人信息。</span>
<ul>
  <li>
    <a href="/" class="link">
      <i class="glyphicon glyphicon-th-large"></i>
      <span>概览</span>
    </a>
  </li>

  <li>
    <a href="/" class="link">
      <i class="glyphicon glyphicon-star"></i>
      <span>个人设置</span>
    </a>
  </li>

  <li>
    <a href="/" class="link">
      <i class="glyphicon glyphicon-star"></i>
      <span>密码设置</span>
    </a>
  </li>
</ul>