<h2 class="title">
  我的分类
  <a href=<%= new_admin_category_path %> class="link">
    <i class="glyphicon glyphicon-plus"></i>
  </a>
</h2>
<span class="describe">在此可管理你的分类。</span>
<ul>
  <li>
    <a href=<%= admin_categories_path %> class="link">
      <i class="glyphicon glyphicon-th-large"></i>
      <span>所有分类</span>
    </a>
  </li>

  <li>
    <a href="/" class="link sr-only">
      <i class="glyphicon glyphicon-star"></i>
      <span>收藏分类</span>
    </a>
  </li>
</ul>