// Place all the styles related to the index::home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 多说
.ds-thread{
  width:100%;
  margin-left: 7%;

  #ds-reset{
    width:76%;
    margin-left: 22%;
    border:1px solid #DEE8EF;
    background-color: white;
    border-top: none;
    padding:20px;
  }
}

.main{
  width: 100%;
}
.search-result{
  position: fixed;
  top:60px;
  bottom:80px;
  width:100%;
  font-size: 20px;
  a,a:hover{
    color: black;
    border-bottom-color: #EEEEEE;
  }
  ul.nav{
    margin:20px 0px 0px 20px;
    width:90%;
    li.active{
      a,a:hover,a:focus{
        border-bottom-color: #EEEEEE;
        background-color: #EEEEEE;
      }
    }
  }
  .tab-content{
    padding-top: 10px;
    width:90%;
    height:-moz-calc(100% - 80px );
  	height:-webkit-calc(100% - 80px );
  	height: calc(100% - 80px );
    margin:0px 0px 0px 20px;
    background-color: #EEEEEE;
    a{
      display: block;
      margin-left: 20px;
      margin-bottom: 10px;
      &:hover{
        color:green;
      }
    }
  }
}
