// Place all the styles related to the index::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main{
  width: 80%;
  .article{
    width: 95% !important;
    padding-right: 0px !important;
  }
}
.pagination-wrap{
  margin-left: 12% !important;
}
.side-nav{
  position: fixed;
  width:20%;
  height:auto;
  top:80px;
  right:5%;
  padding-left: 20px;
  height:auto;
  overflow: auto;
  h2{
    font-size: 20px;
  }

  .item{
    margin-bottom: 20px;
    // border:1px solid #DEE8EF;
    // background: #FFF;
    height: auto;
    ul{
      width:auto;
    }
    li{
      width: auto;
      height: 20px;
      background-color: #90A1AC;
      display: block;
      margin: 2px;

      border: 1px solid #CCC;
      border-radius: 4px;
      a,a:hover{
        display: block;
        width: auto;
        color: #ffffff;
        span{
          display: block;
          font-size: 15px;
          line-height: 15px;
          padding: 2px;
        }
      }
    }
    li.tag{
      float: left;
    }
  }
}
.search-result{
  position: fixed;
  top:60px;
  bottom:80px;
  width:80%;
  font-size: 20px;
  a,a:hover{
    color: black;
    border-bottom-color: #EEEEEE;
  }
  ul.nav{
    margin:20px 0px 0px 20px;
    width:90%;
    li.active{
      a,a:hover,a:focus{
        border-bottom-color: #EEEEEE;
        background-color: #EEEEEE;
      }
    }
  }
  .tab-content{
    padding-top: 10px;
    width:90%;
    height:-moz-calc(100% - 80px );
  	height:-webkit-calc(100% - 80px );
  	height: calc(100% - 80px );
    margin:0px 0px 0px 20px;
    background-color: #EEEEEE;
    a{
      display: block;
      margin-left: 20px;
      margin-bottom: 10px;
      &:hover{
        color:green;
      }
    }
  }
}
