<p id="notice"></p>

<div class="panel panel-default table-responsive"> 
  <div class="panel-heading">归档列表</div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>归档</th>
        <!-- <th colspan="3"></th> -->
      </tr>
    </thead>

    <tbody>
      <% @admin_archives.each do |admin_archive| %>
        <tr>
          <td><%= link_to "#{admin_archive.year}年#{admin_archive.month}月","/admin/archive/#{admin_archive.year}/#{admin_archive.month}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>