<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<div class="search-result">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#article" aria-controls="article" role="tab" data-toggle="tab">文章</a></li>
    <li role="presentation"><a href="#category" aria-controls="category" role="tab" data-toggle="tab">分类</a></li>
    <li role="presentation"><a href="#tag" aria-controls="tag" role="tab" data-toggle="tab">标签</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active in fade" id="article">
      <% @search_articles.each do |a| %>
        <%= link_to a.title, index_article_path(a.title) %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="category">
      <% @search_categories.each do |c| %>
        <%= link_to c.name, "/u/#{@user.name}/#{c.name}" %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="tag">
      <% @search_tags.each do |t| %>
        <%= link_to t.name, "/u/#{@user.name}/#{t.name}" %>
      <% end %>
    </div>
  </div>

</div>
