// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
$primary-color: #f7f6f2;
$icon-color:green;
body{
  background-color: #F3F6F7;
  a{
    text-decoration:none;
    &:hover{
      text-decoration: none;
    }
  }
  h1{
    font-size: 30px;
  }
  ul{
    list-style:none;
    margin:0;
    padding:0;
  }
}
#header{
  nav#nav-top{
    z-index: 99;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: #eee;
    border-bottom: 1px solid #dddddd;
    height:60px;
    #logo{
      z-index: 100;
      cursor: pointer;
      left:10px;
      top:10px;
      position: absolute;
      img{
        height:40px;
        width:50px;
      }
    }
    #search{
      z-index: 100;
      left:100px;
      position: absolute;
      width:auto;
      height:60px;
      //line-height: 60px;
      padding-top: 15px;
      padding-left: 10px;
      form{
        input{
          border: 1px solid #CCCCCC;
          border-radius: 5px;
          width:180px;
          height:30px;
          padding-left: 10px;
          background-color: #f8f8f8;
          transition:width 0.5s;
          -moz-transition:width 0.5s; /* Firefox 4 */
          -webkit-transition:width 0.5s; /* Safari and Chrome */
          -o-transition:width 0.5s; /* Opera */
          &:focus{
            width:300px;
          }
        }
      }
    }
    #admin{
      position: relative;
      width:auto;
      height:60px;
      text-align: center;
      font-size: 18px;
      line-height: 60px;
      a{
        color:black;
        &:hover .glyphicon-name{
          font-weight: bold;
        }
        span{
          color: $icon-color;
          display: inline-block;
          padding-left: 20px;
        }

      }

    }

    #menu-login{
      z-index: 100;
      position: absolute;
      right:15px;
      top:12px;
      cursor: pointer;
      span{
        font-size: 30px;
        color:green;
      }
      &:hover{

      }
    }
  }
}

#bodyer{
  position: relative;
  padding-top: 60px;
  margin-bottom: 50px;
  .main{
    float:left;
  }

  .line{
    position: fixed;
    left:0px;
    top:60px;
    bottom:0px;
    width:2px;
    border:1px solid #DEE8EF;
    z-index: -1;

  }
  .not-found{
    margin-top: 75px;
    margin-left: 75px;
  }

  .article{
    float: left;
    z-index: 5;
    width: 100%;
    margin-top: 40px;
    padding-right: 15%;
    &:after{
      content:"";
      display: block;
      clear: both;
    }
    .time-line{
      z-index: 5;
      text-align: center;
      float:left;
      width:20%;
      margin-left: 12%;
      height:100%;
      .article-type{
        margin:0 auto;
        text-align: center;
        width:60px;
        height:60px;
        border-radius: 100%;
        background-color: green;
        span{
          padding-top: 18px;
          color:white;
          font-size: 25px;
          font-weight: bold;
        }
      }
      .article-date{
        margin:0 auto;
        max-width:90px;
        height:25px;
        font-size: 13px;
        padding-top: 4px;
        color:green;
        background-color: #DEE8EF;
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid #cfdbe4;
      }
      .article-author{
        margin:0 auto;
        margin-top: 20px;
        width:100px;
        border-radius: 25px;
        border: 1px solid #cfdbe4;
        background-color: #DEE8EF;
        img{
          display: inline-block;
          float:left;
          width:25px;
          height:25px;
          border-radius: 50%;
        }
        span{
          color:green;
          display: inline-block;
          font-size: 13px;
          line-height: 25px;
        }
      }
    }
    .article-main{
      position: relative;
      float:left;
      width:60%;
      height:auto;
      margin-left: 2%;
      min-height: 165px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 20px;
      border-radius: 32px;
      border:1px solid #DEE8EF;
      background-color: #eee;
      &:before{
        content: '';
        position: absolute;
        left: -.5em;
        top: 28px;
        width: 1em;
        height: 1em;
        /* transform: rotate(45deg); */
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transition: background .1s linear;
        -moz-transition: background .1s linear;
        transition: background .1s linear;
        background-color: #eee;
        border-left: 1px solid #dee8ef;
        border-bottom: 1px solid #dee8ef;
        z-index: 2;
      }
      &:hover{
        .article-title a{
          color: $icon-color;
        }

      }
      .article-title{
        text-align: left;
        h1{
          font-size: 28px;
          font-weight: bold;
          color:$icon-color;
          a{
            color:#777;
            &:hover{
              &:after{
                content: '';
                position: absolute;
                left: 15px;
                top: 20px;
                width: 5px;
                height: 30px;
                background-color:green;
              }
            }
          }
        }

      }
      .article-content{
        color:#888;
        font-size: 16px;
        line-height:20pt;
        padding-bottom: 30px;
      }
      .article-footer{
        position: absolute;
        bottom:10px;
        height:auto;
        font-size: 14px;
        color:#7F8287;
        .footer-item{
          float: left;
          margin-right: 60px;
          a{
            color:#7F8287;
          }
        }
      }
    }
  }
  #show-article{
    height:auto;
    .time-line{
      margin-left: 10%;
    }
    .article-main{
      height:auto;
      width:65%;
      .article-content{
        padding-top: 25px;
        color: #555;
        img{
          width:100%;
        }

      }
    }
  }

  .pagination-wrap{
    float:left;
    margin: 20px 0 10px 0;
    width:100%;
    height:30px;
    text-align: center;
    .pagination{
      position: relative;
      a{
        color:#929494;
      }
      span{
        text-align: center;
      }
      .page{
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: #EEEEEE;
        font-size: 20px;
      }
      .current{
        font-weight: bold;
        background-color: green;
      }
      .prev,.next,.first,.last{
        display: inline-block;
        width: auto;
        height: 30px;
        padding:0 5px;
        background-color: #EEEEEE;
        line-height: 30px;
        font-size: 18px;
      }
    }
  }

}
#footer{
  position: relative;
  border-top: 1px solid #dddddd;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height:60px;
  background-color: #eee;
  color:#90A1AC;
  font-size: 20px;
  text-align: center;
  a,a:hover{
    font-size: 16px;
    text-decoration: none;
    color:#90A1AC;
  }
  span{
    // display: block;
    // padding-top: 12px;
  }
}
