// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "flatUI/flat-ui-pro.min";
$primary-color: #f7f6f2;
$icon-color:#1ABC9C;
$article-main-background-color:#efefef;
body{
  background-color: #F3F6F7;
  a{
    text-decoration:none;
    &:hover{
      text-decoration: none;
    }
  }
  h1,h2,h3,h4,h5,h6{
    font-size: 200%;
  }
  ul{
    list-style:none;
    margin:0;
    padding:0;
  }
}
#header{
  nav#nav-top{
    z-index: 99;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: #eee;
    border-bottom: 1px solid #dddddd;
    height:60px;
    #logo{
      z-index: 100;
      cursor: pointer;
      left:10px;
      top:10px;
      position: absolute;
      img{
        height:40px;
        width:50px;
      }
    }
    #search{
      z-index: 100;
      left:100px;
      position: absolute;
      width:auto;
      height:60px;
      //line-height: 60px;
      padding-top: 15px;
      padding-left: 10px;
      form{
        input{
          border: 1px solid #CCCCCC;
          border-radius: 5px;
          width:180px;
          height:30px;
          padding-left: 10px;
          background-color: #f8f8f8;
          transition:width 0.5s;
          -moz-transition:width 0.5s; /* Firefox 4 */
          -webkit-transition:width 0.5s; /* Safari and Chrome */
          -o-transition:width 0.5s; /* Opera */
          &:focus{
            width:300px;
          }
        }
      }
    }
    #admin{
      position: relative;
      width:auto;
      height:60px;
      text-align: center;
      font-size: 18px;
      line-height: 60px;
      a{
        margin-left: 20px;
        &:hover .glyphicon-name{
          font-weight: bold;
        }
        span{
          color: $icon-color;
          display: inline-block;
          padding-left: 20px;
        }
        img{
          width:20px;
          height:20px;
        }

      }

    }

    #menu-login{
      z-index: 100;
      position: absolute;
      right:15px;
      top:12px;
      cursor: pointer;
      span{
        font-size: 30px;
        color:#1ABC9C;
      }
      &:hover{

      }
    }
  }
}

#bodyer{
  position: relative;
  padding-top: 60px;
  margin-bottom: 50px;
  .main{
    float:left;
  }

  .line{
    position: fixed;
    left:0px;
    top:60px;
    bottom:0px;
    width:2px;
    border:1px solid #DEE8EF;
    z-index: -1;

  }
  .not-found{
    margin-top: 75px;
    margin-left: 75px;
  }

  .article{
    float: left;
    z-index: 5;
    width: 100%;
    margin-top: 40px;
    padding-right: 15%;
    &:after{
      content:"";
      display: block;
      clear: both;
    }
    .time-line{
      z-index: 5;
      text-align: center;
      float:left;
      width:20%;
      margin-left: 12%;
      height:100%;
      .article-type{
        margin:0 auto;
        text-align: center;
        width:60px;
        height:60px;
        border-radius: 100%;
        // background-color: #1ABC9C;
        // span{
        //   padding-top: 18px;
        //   color:white;
        //   font-size: 25px;
        //   font-weight: bold;
        // }
        img{
          width:50px;
          // border-radius:50%;
        }
      }
      .article-date{
        margin:0 auto;
        max-width:90px;
        height:25px;
        font-size: 13px;
        padding-top: 4px;
        color:#1ABC9C;
        background-color: #DEE8EF;
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid #cfdbe4;
      }
      .article-author{
        margin:0 auto;
        margin-top: 20px;
        width:100px;
        border-radius: 25px;
        border: 1px solid #cfdbe4;
        background-color: #DEE8EF;
        img{
          display: inline-block;
          float:left;
          width:30px;
          height:30px;
          border-radius: 50%;
        }
        span{
          color:#1ABC9C;
          display: inline-block;
          font-size: 13px;
          line-height: 25px;
        }
      }
    }
    .article-main{
      position: relative;
      float:left;
      width:60%;
      height:auto;
      margin-left: 2%;
      min-height: 200px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 20px;
      // border-radius: 32px;
      border:1px solid #DEE8EF;
      background-color: $article-main-background-color;
      &:before{
        content: '';
        position: absolute;
        left: -.5em;
        top: 10px;
        width: 1em;
        height: 1em;
        /* transform: rotate(45deg); */
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transition: background .1s linear;
        -moz-transition: background .1s linear;
        transition: background .1s linear;
        background-color: $article-main-background-color;
        border-left: 1px solid #dee8ef;
        border-bottom: 1px solid #dee8ef;
        z-index: 2;
      }
      &:hover{
        .article-title a{
          color: $icon-color;
        }

      }
      .article-title{
        text-align: left;
        h1{
          font-size: 48px;
          font-weight: bold;
          color:$icon-color;
          a{
            color:#777;
            &:hover{
              &:after{
                content: '';
                position: absolute;
                left: 15px;
                top: 37px;
                width: 8px;
                height: 40px;
                background-color:#1ABC9C;
              }
            }
          }
        }

      }
      .article-content{
        color:#888;
        font-size: 16px;
        line-height:20pt;
        padding-bottom: 30px;
        p{
          margin:0;
        }
        h1,h2,h3,h4,h5,h6{
           margin-top:15px;
           margin-bottom:10px;
        }
        h1{
          position: relative;
          &:after{
            content: "";
            width: 5px;
            height:35px;
            position: absolute;
            background-color: #1ABC9C;
            left:-10px;
          }
        }
        code{
          color: #DDD;
          background: #4D4C48;
        }
        .code{
          pre{
            background-color: #3D3C38;
            color: #DDD;
          }
        }
        blockquote{
          border-left: 5px solid #5D5C58;
          background-color: #0B2A34;
          color: #DDD;
          margin: 10px 0;
        }
      }
      .article-footer{
        position: absolute;
        bottom:10px;
        height:auto;
        width:100%;
        font-size: 14px;
        color:#7F8287;
        .left{
          float:left;
        }
        .right{
          float:right;
        }
        .footer-item{
          margin-right: 50px;
          color: #3498DB;
        }
        .article-tag{
          position:relative;
          margin-left: 8px;
          &:before{
            content: "";
            position: absolute;
            left: -6px;
            top: 4px;
            width: 12px;
            height: 12px;
            /* transform: rotate(45deg); */
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transition: background .1s linear;
            -moz-transition: background .1s linear;
            transition: background .1s linear;
            background-color: #1ABC9C;
            border-left: 1px solid #1ABC9C;
            border-bottom: 1px solid #1ABC9C;
            z-index: 0;
          }
          &:after{
            content: "";
            position: absolute;
            left: -2px;
            top: 7px;
            width: 6px;
            height: 6px;
            border-radius:50%;
            background-color: #fff;
            z-index: 3;
          }
        }
      }
    }
  }
  #show-article{
    height:auto;
    .time-line{
      margin-left: 10%;
    }
    .article-main{
      height:auto;
      width:65%;
      .article-content{
        padding-top: 25px;
        color: #555;
        //img{
          //width:100%;
        //}

      }
      .article-footer{
        position: absolute;
        bottom:10px;
        height:auto;
        width:100%;
        font-size: 14px;
        color:#7F8287;
        .left{
          float:left;
        }
        .right{
          float:right;
        }
        .footer-item{
          margin-right: 50px;
          color: #3498DB;
        }
        .article-tag{
          position:relative;
          margin-left: 8px;
          &:before{
            content: "";
            position: absolute;
            left: -6px;
            top: 4px;
            width: 12px;
            height: 12px;
            /* transform: rotate(45deg); */
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transition: background .1s linear;
            -moz-transition: background .1s linear;
            transition: background .1s linear;
            background-color: #1ABC9C;
            border-left: 1px solid #1ABC9C;
            border-bottom: 1px solid #1ABC9C;
            z-index: 0;
          }
          &:after{
            content: "";
            position: absolute;
            left: -2px;
            top: 7px;
            width: 6px;
            height: 6px;
            border-radius:50%;
            background-color: #fff;
            z-index: 3;
          }
        }
      }
    }
  }

  .pagination-wrap{
    float:left;
    margin: 50px 0 50px 0;
    width:100%;
    height:30px;
    text-align: center;
    .pagination{
      position: relative;
      margin:0px;
      a{
        color:#929494;
      }
      span{
        text-align: center;
      }
      .page,.prev,.next,.first,.last{
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: #EEEEEE;
        font-size: 20px;
      }
      .current{
        font-weight: bold;
        background-color: #1ABC9C;
      }
      .prev,.next,.first,.last{
        display: inline-block;
        width: auto;
        padding:0 5px;
        background-color: #EEEEEE;
      }
    }
  }

}
#footer{
  position: relative;
  z-index: 99;
  bottom: 0px;
  left: 0px;
  right: 0px;

}
