// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
$primary-color: #f7f6f2;
body{
  background-color: #F3F6F7;
  a{
    text-decoration:none;
    &:hover{
      text-decoration: none;
    }
  }
  h1{
    font-size: 30px;
  }
  ul{
    list-style:none;
    margin:0;
    padding:0;
  }
}
#header{
  nav#nav-top{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    height:60px;
    #logo{
      z-index: 1;
      cursor: pointer;
      left:2px;
      position: absolute;
      img{
        height:60px;
        width:80px;
      }
    }
    #search{
      z-index: 2;
      left:75px;
      position: absolute;
      width:auto;
      height:60px;
      //line-height: 60px;
      padding-top: 15px;
      padding-left: 10px;
      form{
        input{
          border: 1px solid #CCCCCC;
          border-radius: 5px;
          width:180px;
          height:30px;
          padding-left: 10px;
          transition:width 0.5s;
          -moz-transition:width 0.5s; /* Firefox 4 */
          -webkit-transition:width 0.5s; /* Safari and Chrome */
          -o-transition:width 0.5s; /* Opera */
          &:focus{
            width:300px;
          }
        }
      }
    }
    #admin{
      z-index: 0;
      position: relative;
      width:auto;
      height:60px;
      margin:auto;
      text-align: center;
      font-size: 23px;
      line-height: 60px;
      span{
        display: inline-block;
        margin-left: 42px;
      }
    }

    #menu-login{
      z-index: 1;
      cursor: pointer;
      position: absolute;
      top:0;
      right:0px;
      img{
        height:60px;
        width:80px;
      }
      i{
        display: inline;
        font-size: 10px;
        margin-left: -10px;
      }
      &:hover{
        background-color: #dddddd;
      }
    }
  }
}

#bodyer{
  padding-top: 40px;
  width:auto;
  height:auto;
  .line{
    position: fixed;
    left:50px;
    top:60px;
    bottom:0px;
    width:2px;
    border:1px solid #DEE8EF;
    z-index: -1;

  }

  .article{
    z-index: 9;
    width:80%;
    height:300px;
    margin-top: 75px;
    margin-left: 10%;

    .time-line{
      z-index: 9;
      text-align: center;
      float:left;
      width:20%;
      height:100%;
      .article-type{
        margin:0 auto;
        text-align: center;
        width:60px;
        height:60px;
        border-radius: 100%;
        background-color: #90A1AC;
        span{
          padding-top: 18px;
          color:white;
          font-size: 25px;
          font-weight: bold;
        }
      }
      .article-date{
        margin:0 auto;
        max-width:90px;
        height:25px;
        font-size: 13px;
        padding-top: 4px;
        color:#90A1AC;
        background-color: #DEE8EF;
        margin-top: 20px;
        border-radius: 5px;
      }
      .article-author{
        margin:0 auto;
        margin-top: 20px;
        width:100px;
        border-radius: 25px;
        background-color: #DEE8EF;
        img{
          display: inline-block;
          float:left;
          width:25px;
          height:25px;
          border-radius: 50%;
        }
        span{
          color:#90A1AC;
          display: inline-block;
          font-size: 13px;
          line-height: 25px;
        }
      }
    }
    .article-main{
      float:left;
      width:80%;
      min-height: 300px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      border-radius: 20px;
      border:1px solid #DEE8EF;
      background-color: white;
      padding-left: 20px;
      .article-title{
        text-align: left;
        h1{
          font-size: 35px;
          font-weight: bold;
          color:#22A3DF;
        }
      }
      .article-content{

      }
    }
  }
  #show-article{
    height:auto;
    .article-main{
      height:auto;
    }
  }
}
#footer{

}
