// Place all the styles related to the manage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "flatUI/flat-ui-pro.min";