<!DOCTYPE html>
<html>
<head>
  <title>博客管理</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <nav>

  </nav>
</div>
<div id="side-nav">
  adf<br>adf<br>adf<br>adf<br>

</div>
<div id="bodyer">

  <div id="content">
    <%= yield %>
    adf<br>
    adf<br>adf<br>adf<br>adf<br>adf<br>adf<br>
    adf<br>adf<br>adf<br>adf<br>adf<br>adf<br>adf<br>
    adf<br>adf<br>adf<br>adf<br>adf<br>adf<br>adf<br>
    adf<br>adf<br>adf<br>adf<br>adf<br>adf<br>adf<br>
    adf<br>adf<br>adf<br>adf<br>adf<br>adf<br>adf<br>adf<br>
    adf<br>adf<br>adf<br>adf<br>adf<br>adf<br>adf<br>adf<br>
  </div>
  <div id="related-side">
    adf<br>
    adf<br>adf<br>adf<br>adf<br>adf<br>adf<br>
    adf<br>adf<br>adf<br>adf<br>adf<br>adf<br>adf<br>
  </div>

</div>
<div id="footer"></div>


</body>
</html>
